In [824]:
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.ensemble import RandomForestClassifier 
import seaborn as sns
from sklearn.metrics import confusion_matrix, accuracy_score
import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics import roc_curve, auc

In [825]:
###R1 - import data.csv

df = pd.read_csv("data.csv")
#print(df.to_string())
df

,id,loan_amount,funded_amount,funded_amount_investors,term,interest_rate,installment,employment_length,home_ownership,annual_income,...,public_records,revolving_balance,revolving_utillization,no_total_account,total_payment,total_payment_investors,total_received_principal,total_received_interest,last_payment_amnt,repay_fail
0,2,0.0,0.0,0.00000,36 months,0.00,0.00,< 1 year,RENT,0.0,...,0.0,0.0,0.00%,1.0,0.000000,0.00,0.00,0.00,0.00,1
1,545583,2500.0,2500.0,2500.00000,36 months,13.98,85.42,4 years,RENT,20004.0,...,0.0,981.0,21.30%,10.0,3075.291779,3075.29,2500.00,575.29,90.85,0
2,532101,5000.0,5000.0,5000.00000,36 months,15.95,175.67,4 years,RENT,59000.0,...,0.0,18773.0,99.90%,15.0,2948.760000,2948.76,1909.02,873.81,175.67,1
3,877788,7000.0,7000.0,7000.00000,36 months,9.91,225.58,10+ years,MORTGAGE,53796.0,...,0.0,3269.0,47.20%,20.0,8082.391880,8082.39,7000.00,1082.39,1550.27,0
4,875406,2000.0,2000.0,2000.00000,36 months,5.42,60.32,10+ years,RENT,30000.0,...,0.0,0.0,0%,15.0,2161.663244,2161.66,2000.00,161.66,53.12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38475,849205,3000.0,3000.0,3000.00000,36 months,11.99,99.63,3 years,RENT,74250.0,...,0.0,16550.0,73.50%,22.0,3586.619764,3586.62,3000.00,586.62,100.30,0
38476,852914,10400.0,10400.0,10400.00000,36 months,13.49,352.88,9 years,RENT,62000.0,...,0.0,16898.0,39.70%,33.0,12703.534030,12703.53,10400.00,2303.53,393.08,0
38477,519553,16000.0,10550.0,10531.35818,60 months,14.96,250.77,10+ years,MORTGAGE,95088.0,...,1.0,10386.0,62.20%,25.0,14202.267530,14163.31,10550.00,3652.27,5439.96,0
38478,825638,10000.0,10000.0,10000.00000,36 months,16.89,355.99,1 year,RENT,48720.0,...,0.0,7301.0,53.30%,12.0,12815.178320,12815.18,10000.00,2815.18,380.63,0
38479,1029847,3200.0,3200.0,3200.00000,36 months,13.49,108.58,7 years,RENT,38400.0,...,1.0,2503.0,62.60%,18.0,3908.767275,3908.77,3200.00,708.77,111.88,0

In [826]:
###R2 - drop all column that has null

df = df.dropna()
df

,id,loan_amount,funded_amount,funded_amount_investors,term,interest_rate,installment,employment_length,home_ownership,annual_income,...,public_records,revolving_balance,revolving_utillization,no_total_account,total_payment,total_payment_investors,total_received_principal,total_received_interest,last_payment_amnt,repay_fail
0,2,0.0,0.0,0.00000,36 months,0.00,0.00,< 1 year,RENT,0.0,...,0.0,0.0,0.00%,1.0,0.000000,0.00,0.00,0.00,0.00,1
1,545583,2500.0,2500.0,2500.00000,36 months,13.98,85.42,4 years,RENT,20004.0,...,0.0,981.0,21.30%,10.0,3075.291779,3075.29,2500.00,575.29,90.85,0
2,532101,5000.0,5000.0,5000.00000,36 months,15.95,175.67,4 years,RENT,59000.0,...,0.0,18773.0,99.90%,15.0,2948.760000,2948.76,1909.02,873.81,175.67,1
3,877788,7000.0,7000.0,7000.00000,36 months,9.91,225.58,10+ years,MORTGAGE,53796.0,...,0.0,3269.0,47.20%,20.0,8082.391880,8082.39,7000.00,1082.39,1550.27,0
4,875406,2000.0,2000.0,2000.00000,36 months,5.42,60.32,10+ years,RENT,30000.0,...,0.0,0.0,0%,15.0,2161.663244,2161.66,2000.00,161.66,53.12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38475,849205,3000.0,3000.0,3000.00000,36 months,11.99,99.63,3 years,RENT,74250.0,...,0.0,16550.0,73.50%,22.0,3586.619764,3586.62,3000.00,586.62,100.30,0
38476,852914,10400.0,10400.0,10400.00000,36 months,13.49,352.88,9 years,RENT,62000.0,...,0.0,16898.0,39.70%,33.0,12703.534030,12703.53,10400.00,2303.53,393.08,0
38477,519553,16000.0,10550.0,10531.35818,60 months,14.96,250.77,10+ years,MORTGAGE,95088.0,...,1.0,10386.0,62.20%,25.0,14202.267530,14163.31,10550.00,3652.27,5439.96,0
38478,825638,10000.0,10000.0,10000.00000,36 months,16.89,355.99,1 year,RENT,48720.0,...,0.0,7301.0,53.30%,12.0,12815.178320,12815.18,10000.00,2815.18,380.63,0
38479,1029847,3200.0,3200.0,3200.00000,36 months,13.49,108.58,7 years,RENT,38400.0,...,1.0,2503.0,62.60%,18.0,3908.767275,3908.77,3200.00,708.77,111.88,0

In [827]:
###R3 - check the data types of all features
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37426 entries, 0 to 38479
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        37426 non-null  int64
 1   loan_amount               37426 non-null  float64
 2   funded_amount             37426 non-null  float64
 3   funded_amount_investors   37426 non-null  float64
 4   term                      37426 non-null  object
 5   interest_rate             37426 non-null  float64
 6   installment               37426 non-null  float64
 7   employment_length         37426 non-null  object
 8   home_ownership            37426 non-null  object
 9   annual_income             37426 non-null  float64
 10  verification_status       37426 non-null  object
 11  loan_status               37426 non-null  object
 12  purpose                   37426 non-null  object
 13  debt_to_income_ratio      37426 non-null  float64
 14  no_delinquency_2yrs       37426 non-null  float64
 15  inquiries_last_6mths      37426 non-null  float64
 16  no_open_accounts          37426 non-null  float64
 17  public_records            37426 non-null  float64
 18  revolving_balance         37426 non-null  float64
 19  revolving_utillization    37426 non-null  object
 20  no_total_account          37426 non-null  float64
 21  total_payment             37426 non-null  float64
 22  total_payment_investors   37426 non-null  float64
 23  total_received_principal  37426 non-null  float64
 24  total_received_interest   37426 non-null  float64
 25  last_payment_amnt         37426 non-null  float64
 26  repay_fail                37426 non-null  int64
dtypes: float64(18), int64(2), object(7)
memory usage: 8.0+ MB

In [828]:
###R4 – count all variables in features that is not numeric.

Count_repay_fail = df['repay_fail'].value_counts()
print(Count_repay_fail, '\n')

# Count the occurrences of variable in various features
term = df['term'].value_counts()
employment_length = df['employment_length'].value_counts()
home_ownership = df['home_ownership'].value_counts()
verification_status = df['verification_status'].value_counts()
loan_status = df['loan_status'].value_counts()
purpose = df['purpose'].value_counts()
revolving_utillization = df['revolving_utillization'].value_counts()

print(term, "\n")
print(employment_length, "\n")
print(home_ownership, "\n")
print(verification_status, "\n")
print(loan_status, "\n")
print(purpose, "\n")
print(revolving_utillization, "\n")

repay_fail
0    31836
1     5590
Name: count, dtype: int64

term
36 months    27793
60 months     9633
Name: count, dtype: int64

employment_length
10+ years    8462
< 1 year     4550
2 years      4287
3 years      3933
4 years      3306
1 year       3246
5 years      3165
6 years      2141
7 years      1699
8 years      1442
9 years      1195
Name: count, dtype: int64

home_ownership
RENT        17831
MORTGAGE    16710
OWN          2758
OTHER         123
NONE            4
Name: count, dtype: int64

verification_status
Not Verified       16524
Verified           11745
Source Verified     9157
Name: count, dtype: int64

loan_status
Fully Paid                                             29235
Charged Off                                             4892
Does not meet the credit policy. Status:Fully Paid      1755
Current                                                  832
Does not meet the credit policy. Status:Charged Off      671
Late (31-120 days)                                        19
In Grace Period                                           14
Late (16-30 days)                                          7
Default                                                    1
Name: count, dtype: int64

purpose
debt_consolidation    17530
credit_card            4846
other                  3791
home_improvement       2806
major_purchase         2007
small_business         1768
car                    1429
wedding                 899
medical                 650
moving                  539
educational             374
house                   372
vacation                331
renewable_energy         84
Name: count, dtype: int64

revolving_utillization
0%         920
0.20%       59
0.10%       58
70.40%      58
37.60%      55
          ...
100.50%      1
41.85%       1
24.89%       1
81.31%       1
37.73%       1
Name: count, Length: 1107, dtype: int64

In [829]:
###R5 - take out any string or symbol in features & convert string variables to numeric variables & convert the features data type to int/float

df = df.copy()

#take out word month in feature term and convert to int
df.loc[:, "term"] = df["term"].str.rstrip("months")
df["term"] = df["term"].astype(int)

#take out symbol in feature employment_length and convert to int
df.loc[:, "employment_length"] = df["employment_length"].str.lstrip("<")
df.loc[:, "employment_length"] = df["employment_length"].str.rstrip("+ years")
df["employment_length"] = df["employment_length"].astype(int)

#change string variable to numeric variable in feature home_ownership and convert feature to int
df.loc[df['home_ownership'] == 'RENT', 'home_ownership'] = 4
df.loc[df['home_ownership'] == 'MORTGAGE', 'home_ownership'] = 0
df.loc[df['home_ownership'] == 'OWN', 'home_ownership'] = 3
df.loc[df['home_ownership'] == 'OTHER', 'home_ownership'] = 2
df.loc[df['home_ownership'] == 'NONE', 'home_ownership'] = 1
df["home_ownership"] = df["home_ownership"].astype(int)

#change string variable to numeric variable in feature verification_status and convert feature to int
df.loc[df["verification_status"] == 'Not Verified', "verification_status"] = 1
df.loc[df["verification_status"] == 'Verified', "verification_status"] = 0
df.loc[df["verification_status"] == 'Source Verified', "verification_status"] = 2
df["verification_status"] = df["verification_status"].astype(int)

#change string variable to numeric variable in feature loan_status and convert feature to int
df.loc[df["loan_status"] == 'Fully Paid', "loan_status"] =5
df.loc[df["loan_status"] == 'Charged Off', "loan_status"] =0
df.loc[df["loan_status"] == 'Does not meet the credit policy. Status:Fully Paid', "loan_status"] =4
df.loc[df["loan_status"] == 'Current', "loan_status"] =1
df.loc[df["loan_status"] == 'Does not meet the credit policy. Status:Charged Off', "loan_status"] =3
df.loc[df["loan_status"] == 'Late (31-120 days)', "loan_status"] =8
df.loc[df["loan_status"] == 'In Grace Period', "loan_status"] =6
df.loc[df["loan_status"] == 'Late (16-30 days)', "loan_status"] =7
df.loc[df["loan_status"] == 'Default', "loan_status"] =2
df["loan_status"] = df["loan_status"].astype(int)

#change string variable to numeric variable in feature purpose and convert feature to int
df.loc[df["purpose"] == 'debt_consolidation', "purpose"] =4
df.loc[df["purpose"] == 'credit_card', "purpose"] =1
df.loc[df["purpose"] == 'other', "purpose"] =2
df.loc[df["purpose"] == 'home_improvement', "purpose"] =3
df.loc[df["purpose"] == 'major_purchase', "purpose"] =7
df.loc[df["purpose"] == 'small_business', "purpose"] =0
df.loc[df["purpose"] == 'car', "purpose"] =13
df.loc[df["purpose"] == 'wedding', "purpose"] =10
df.loc[df["purpose"] == 'medical', "purpose"] =12
df.loc[df["purpose"] == 'moving', "purpose"] =9
df.loc[df["purpose"] == 'educational', "purpose"] =6
df.loc[df["purpose"] == 'house', "purpose"] =5
df.loc[df["purpose"] == 'vacation', "purpose"] =11
df.loc[df["purpose"] == 'renewable_energy', "purpose"] =8
df["purpose"] = df["purpose"].astype(int)      
         
#take out symbol in feature revolving_utillization and convert to float
df.loc[:, 'revolving_utillization'] = df['revolving_utillization'].str.rstrip("%")
df["revolving_utillization"] = df["revolving_utillization"].astype(np.float64)

df

,id,loan_amount,funded_amount,funded_amount_investors,term,interest_rate,installment,employment_length,home_ownership,annual_income,...,public_records,revolving_balance,revolving_utillization,no_total_account,total_payment,total_payment_investors,total_received_principal,total_received_interest,last_payment_amnt,repay_fail
0,2,0.0,0.0,0.00000,36,0.00,0.00,1,4,0.0,...,0.0,0.0,0.0,1.0,0.000000,0.00,0.00,0.00,0.00,1
1,545583,2500.0,2500.0,2500.00000,36,13.98,85.42,4,4,20004.0,...,0.0,981.0,21.3,10.0,3075.291779,3075.29,2500.00,575.29,90.85,0
2,532101,5000.0,5000.0,5000.00000,36,15.95,175.67,4,4,59000.0,...,0.0,18773.0,99.9,15.0,2948.760000,2948.76,1909.02,873.81,175.67,1
3,877788,7000.0,7000.0,7000.00000,36,9.91,225.58,10,0,53796.0,...,0.0,3269.0,47.2,20.0,8082.391880,8082.39,7000.00,1082.39,1550.27,0
4,875406,2000.0,2000.0,2000.00000,36,5.42,60.32,10,4,30000.0,...,0.0,0.0,0.0,15.0,2161.663244,2161.66,2000.00,161.66,53.12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38475,849205,3000.0,3000.0,3000.00000,36,11.99,99.63,3,4,74250.0,...,0.0,16550.0,73.5,22.0,3586.619764,3586.62,3000.00,586.62,100.30,0
38476,852914,10400.0,10400.0,10400.00000,36,13.49,352.88,9,4,62000.0,...,0.0,16898.0,39.7,33.0,12703.534030,12703.53,10400.00,2303.53,393.08,0
38477,519553,16000.0,10550.0,10531.35818,60,14.96,250.77,10,0,95088.0,...,1.0,10386.0,62.2,25.0,14202.267530,14163.31,10550.00,3652.27,5439.96,0
38478,825638,10000.0,10000.0,10000.00000,36,16.89,355.99,1,4,48720.0,...,0.0,7301.0,53.3,12.0,12815.178320,12815.18,10000.00,2815.18,380.63,0
38479,1029847,3200.0,3200.0,3200.00000,36,13.49,108.58,7,4,38400.0,...,1.0,2503.0,62.6,18.0,3908.767275,3908.77,3200.00,708.77,111.88,0

In [830]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37426 entries, 0 to 38479
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        37426 non-null  int64
 1   loan_amount               37426 non-null  float64
 2   funded_amount             37426 non-null  float64
 3   funded_amount_investors   37426 non-null  float64
 4   term                      37426 non-null  int32
 5   interest_rate             37426 non-null  float64
 6   installment               37426 non-null  float64
 7   employment_length         37426 non-null  int32
 8   home_ownership            37426 non-null  int32
 9   annual_income             37426 non-null  float64
 10  verification_status       37426 non-null  int32
 11  loan_status               37426 non-null  int32
 12  purpose                   37426 non-null  int32
 13  debt_to_income_ratio      37426 non-null  float64
 14  no_delinquency_2yrs       37426 non-null  float64
 15  inquiries_last_6mths      37426 non-null  float64
 16  no_open_accounts          37426 non-null  float64
 17  public_records            37426 non-null  float64
 18  revolving_balance         37426 non-null  float64
 19  revolving_utillization    37426 non-null  float64
 20  no_total_account          37426 non-null  float64
 21  total_payment             37426 non-null  float64
 22  total_payment_investors   37426 non-null  float64
 23  total_received_principal  37426 non-null  float64
 24  total_received_interest   37426 non-null  float64
 25  last_payment_amnt         37426 non-null  float64
 26  repay_fail                37426 non-null  int64
dtypes: float64(19), int32(6), int64(2)
memory usage: 7.1 MB

In [831]:
#re check - Count the occurrences of variable in various columns
term = df['term'].value_counts()
employment_length = df['employment_length'].value_counts()
home_ownership = df['home_ownership'].value_counts()
verification_status = df['verification_status'].value_counts()
loan_status = df['loan_status'].value_counts()
purpose = df['purpose'].value_counts()
revolving_utillization = df['revolving_utillization'].value_counts()

print(term, "\n")
print(employment_length, "\n")
print(home_ownership, "\n")
print(verification_status, "\n")
print(loan_status, "\n")
print(purpose, "\n")
print(revolving_utillization, "\n")

term
36    27793
60     9633
Name: count, dtype: int64

employment_length
10    8462
1     7796
2     4287
3     3933
4     3306
5     3165
6     2141
7     1699
8     1442
9     1195
Name: count, dtype: int64

home_ownership
4    17831
0    16710
3     2758
2      123
1        4
Name: count, dtype: int64

verification_status
1    16524
0    11745
2     9157
Name: count, dtype: int64

loan_status
5    29235
0     4892
4     1755
1      832
3      671
8       19
6       14
7        7
2        1
Name: count, dtype: int64

purpose
4     17530
1      4846
2      3791
3      2806
7      2007
0      1768
13     1429
10      899
12      650
9       539
6       374
5       372
11      331
8        84
Name: count, dtype: int64

revolving_utillization
0.00      921
0.20       59
0.10       58
70.40      58
37.60      55
         ...
17.71       1
100.50      1
41.85       1
24.89       1
37.73       1
Name: count, Length: 1106, dtype: int64

In [832]:
#to see all data
# print(df.to_string())

In [833]:
###R6 – save data set as cleanData.csv
df.to_csv('cleanData.csv', index=False)

In [834]:
###R7 - randomly take out sample 0=2000 & 1=500 and save as 

# #Separate the data based on the 'repay_fail' feature
data_1 = df[df['repay_fail'] == 1]
data_0 = df[df['repay_fail'] == 0]

#Randomly sample the data
sample_1 = data_1.sample(n=500, random_state=42)
sample_0 = data_0.sample(n=2000, random_state=42)

#Concatenate the samples
sampled_data = pd.concat([sample_1, sample_0])

#Remove the sampled rows from the original data
data_remaining = df.drop(sampled_data.index)

#Save the sampled data to a new CSV file
# -- sampled_data.to_csv('Book25features.csv', index=False)

In [835]:
###R8 - Save the remaining data (data - sample)

# -- data_remaining.to_csv('remainingdata.csv', index=False)